In [14]:
%load_ext autoreload

In [16]:
%autoreload 2
from pages.news_data import News

In [17]:
n = News(pattern='macro', lookup_column='ent_othr')

In [19]:
n.df_tpc

               Mentions
Category
Technavio             6
Covid                 5
Biden                 1
bn                    1
Breakdown             1
Holocaust             1
Jason                 1
king                  1
Belly Mujinga         1
Machu Picchu          1
Murray                1
PwC                   1
Q3                    1
Smartsheet            1
Vaccine Trial         1
Manuel                1
Anwar                 1
Woods                 1